.cfondo{
	background-color: #566573 ;
}
.cfondo2{
	background-color: #F1C40F ;
}
#prin{
	align-items: center;
}
.btn-primary {
    color: #ffff;
    background-color: #64C9CF;
    border-color: black;
}
